@model FileUploadDownload.Models.FileViewModel
@{
}

<div class="text-left">
    <h2 style="margin-bottom:50px">Dosya Paylaşımı</h2>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <button type="submit">Dosya Yükle</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" style="margin-top:50px">
            @ViewBag.Message
        </div>
    }

    <p style="margin-top: 50px">Dosya Listesi</p>

    <ul>
        @foreach (var item in Model.Files)
        {
            <li>
                <a asp-action="Download"
               asp-route-filename="@item.Name">
                    @item.Name
                </a>
            </li>
        }
    </ul>

</div>